<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YoutubeDLApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <YoutubeDLApp.Properties.Settings>
            <setting name="VideoOutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpegDir" serializeAs="String">
                <value>ffmpeg Directory</value>
            </setting>
            <setting name="AudioOutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioCustomAttributesTextField" serializeAs="String">
                <value>-f "bestaudio" --audio-format mp3 --embed-metadata --embed-thumbnail -o "%(title)s.%(ext)s"</value>
            </setting>
            <setting name="VideoCustomAttributesTextField" serializeAs="String">
                <value>-f "bestvideo[height&lt;=?1080][fps&lt;=?60]+bestaudio" --remux-video mp4 --embed-metadata --embed-thumbnail -o "%(title)s.%(ext)s"</value>
            </setting>
        </YoutubeDLApp.Properties.Settings>
    </userSettings>
</configuration>